flows.json
[
    {
        "id": "abc380b468955ac2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dae8e8b37d3d455d",
        "type": "debug",
        "z": "abc380b468955ac2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "dc8db5610c59f3c6",
        "type": "MSSQL",
        "z": "abc380b468955ac2",
        "mssqlCN": "c1b4fb13714e8e0d",
        "name": "hi",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "dae8e8b37d3d455d"
            ]
        ]
    },
    {
        "id": "8afc44f53f37f85d",
        "type": "http request",
        "z": "abc380b468955ac2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/job?query=Python%20developer%20in%20Ha%20Noi",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 460,
        "wires": [
            [
                "33b59cd6d0dfda22"
            ]
        ]
    },
    {
        "id": "144600da65157c42",
        "type": "inject",
        "z": "abc380b468955ac2",
        "name": "cv",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "8afc44f53f37f85d"
            ]
        ]
    },
    {
        "id": "33b59cd6d0dfda22",
        "type": "function",
        "z": "abc380b468955ac2",
        "name": "function 3",
        "func": "// Parse JSON từ msg.payload\nvar jsonArray = JSON.parse(msg.payload);\n\n// Khởi tạo mảng để lưu trữ các câu lệnh SQL INSERT\nvar sqlStatements = [];\n\n// Hàm để thoát ký tự đơn trong chuỗi\nfunction escapeString(str) {\n    if (str === null || str === undefined) {\n        return '';  // Trả về chuỗi rỗng nếu giá trị là null hoặc undefined\n    }\n    return str.replace(/'/g, \"''\");\n}\n\n// Duyệt qua mỗi mục trong mảng JSON\nfor (var i = 0; i < jsonArray.length; i++) {\n    var json = jsonArray[i];\n\n    // Thoát các ký tự đơn trong từng giá trị chuỗi\n    var macongviec = escapeString(json.macongviec);\n    var tennhatuyendung = escapeString(json.tennhatuyendung);\n    var trangwebnhatuyendung = escapeString(json.trangwebnhatuyendung);\n    var loaihinhcongviec = escapeString(json.loaihinhcongviec);\n    var tencongviec = escapeString(json.tencongviec);\n    var lienketungtuyen = escapeString(json.lienketungtuyen);\n    var ngaydangtinUTC = escapeString(json.ngaydangtinUTC);\n    var ngayhethanUTC = escapeString(json.ngayhethanUTC);\n    var thanhpho = escapeString(json.thanhpho);\n    var quocgia = escapeString(json.quocgia);\n\n    // Tạo câu lệnh SQL INSERT cho mục hiện tại\n    var sql = `INSERT INTO JobHistory (macongviec, tennhatuyendung, trangwebnhatuyendung, loaihinhcongviec, tencongviec, lienketungtuyen, ngaydangtinUTC, ngayhethanUTC, thanhpho, quocgia) \n                VALUES (N'${macongviec}', N'${tennhatuyendung}', N'${trangwebnhatuyendung}', N'${loaihinhcongviec}', N'${tencongviec}', N'${lienketungtuyen}', '${ngaydangtinUTC}', '${ngayhethanUTC}', N'${thanhpho}', N'${quocgia}')`;\n\n    // Thêm câu lệnh SQL INSERT vào mảng\n    sqlStatements.push(sql);\n}\n\n// Kết hợp tất cả các câu lệnh SQL INSERT thành một chuỗi, mỗi câu lệnh cách nhau bằng dấu chấm phẩy\nmsg.payload = sqlStatements.join('; ');\n\n// Trả về msg chứa các câu lệnh SQL INSERT\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "dc8db5610c59f3c6",
                "133c18dd914547c6"
            ]
        ]
    },
    {
        "id": "133c18dd914547c6",
        "type": "debug",
        "z": "abc380b468955ac2",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 520,
        "wires": []
    },
    {
        "id": "f7c9e7f2b66ac431",
        "type": "inject",
        "z": "abc380b468955ac2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "f7804034a14e5ecf"
            ]
        ]
    },
    {
        "id": "f7804034a14e5ecf",
        "type": "function",
        "z": "abc380b468955ac2",
        "name": "",
        "func": "msg.payload = 'select * from sensor;'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "dc8db5610c59f3c6"
            ]
        ]
    },
    {
        "id": "c1b4fb13714e8e0d",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "hiu",
        "server": "127.0.0.1",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "vieclam",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    }
]